/*Standard Body Elements*/
html
{
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
}

body
{
    background-color: #0a1627;
    color: #c1c1c1;
}

h1
{
    text-align: center;
}

h2
{
    color:rgb(206, 206, 206);
    text-align: center;
    font-size: x-large;
    margin: 10px;
}

h3
{
    color: white;
}

p
{
    color: rgb(241, 241, 241);
}

ul
{
    list-style: none;
    padding: 0px;
}

a 
{
    color: rgb(192, 0, 0);
}

li 
{
    color: rgb(241, 241, 241);
}


/*Header Elements*/
header
{
    background-color: #0a1627;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 110px;
    min-width: 100%;
    max-height: 300px;
    position: sticky;
    top: 0;
}

header h1
{
    align-self: center;
    float: left;
    padding: 0.5rem;
    margin: 0px;
}

header ul
{
    text-align: right;
    font-size: large;
    list-style: none;
    display: flex;
    margin: 0px;
    height: auto;
    width: auto;
    justify-content: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
}

header ul li
{
    padding: 10px;
    height: 100%;
}

header img
{
    float: left;
    display: block;
    align-self: center;
    height: 100px;
}

/*Footer Elements*/
footer
{
    grid-row: 2;
    grid-column: span 2;
}



/*Aside Elements*/
aside
{
    background-color: rgb(56, 56, 56);
    grid-column: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

aside p
{
    padding-left: 15px;
    padding-right: 15px;
}

aside img
{
    width: calc(100% - 40px);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


/*About Me Elements*/
#about-me-title
{
    margin: 0px;
}

#about-me-span
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

#about-me-span aside
{
    background: none;
    grid-column: 1;
    grid-row: 1;
    padding: 0px;
}

#about-me-span aside img
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*Profile Elements*/
#profile-body
{
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr 1fr;
    gap: 10px;
    width: 100%;
}

.profile-main
{
    grid-column: 2;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.profile-main img
{
    max-width: 500px;
}

#project-desc
{
    margin: 0px;
}

/*Collapsables*/
.collapsable
{
    background-color: #010204;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: left;
    color: #c1c1c1;
    border: none;
    outline: none;
    min-height: 40px;
    padding: 18px;
    font-size: 15px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
}

.collapsable::after
{
    content: '\00ff0b';
    font-weight: bold;
    color: white;
    float: right;
}

.active, .collapsable:hover
{
    background-color: #0e1f37;
}
.active
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active::after
{
    content: "\0ff0d";
}



/*Dropdowns*/
.dropdown-content
{
    display: none;
    /*overflow: hidden;*/
    background-color: #15294d;
    padding: 0px;
    /*padding: 0px 18px;*/
    min-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content h3
{
    text-align: center;
    margin: 0px;
    margin-top: 18px;
}

.dropdown-content h4
{
    color: #c1c1c1;
    text-align: center;
    margin: 5px;
}

.dropdown-content ul
{
    width: auto;
    margin: 0px;
}

.dropdown-content ul li
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
}

.dropdown-content ul p
{
    display: inline;
}


/*Git Stats*/
#git-stats-holder
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    justify-content: center;
}

.git-stats
{
    padding: 5px;
    height: 215px;
}


/*Lists*/
.list-holder
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}



/*Screenshot*/
#screenshot-holder
{
    display: flexbox;
    flex-wrap: wrap;
}

#screenshot-holder img
{
    object-fit: scale-down;
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px;
}



/*Interactive CSS*/
@media only screen and (max-width: 500px)
{

    
}